/* global style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: #3abec0;
  text-align: center;
}

/* Website heading */

.main-container .heading {
  padding: 25px;
  color: #ffffff;
  font-weight: 600;
  font-size: 75px;
}

/* Player Card Section */

.player-card-container {
  width: 75%;
  border-right: 1px solid gray;
  text-align: center;
  background-color: #03475e;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

/* Player Cart section */

.selected-player-container {
  width: 25%;
  text-align: center;
  background-color: #4a3933;
}